html, body {
    padding: 0;
    margin: 0;
}

.primary-video {
    position: absolute;
    width: 100%;
    height: 50%;
    object-fit: cover;
    top: 0;
}

.secondary-video {
    position: absolute;
     width: 100%;
    height: 50%;
    object-fit: cover;
    bottom: 0;
}